<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ótica</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <ul>
        <li>Home</li>
        <li>Quem Somos</li>
        <li>Loja</li>
        <li>Contato</li>
    </ul>
    {{{ body }}}
    <footer>
        <p>Rodapé</p>
    </footer>
</body>
</html>